@{
}

@model List<MrFixIt.Models.Job>

<h1>Our Current Jobs</h1>
<hr />

@foreach (var job in Model)
{
    <h4>@job.Title</h4>
    <p>@job.Description</p>
    @if (job.Worker == null)
    {
        <p><small></small>This job is unclaimed. <a asp-controller="Jobs" asp-action="Claim" asp-route-id="@job.JobId">Claim</a></p>

    }
    else
    {
        <p>This job is claimed by @job.Worker.FirstName @job.Worker.LastName</p>

    }
}

<hr />a
<a asp-controller="Jobs" asp-action="Create">Add a new job</a>