@{
}

@model List<MrFixIt.Models.Job>

<!-- Scipt for Claim Job-->
<script>
    $(function () {
        $(".job-claim").submit(function (event) {
            event.preventDefault();
            console.log($(this).serialize());
            $.ajax({
                url: 'Jobs/Claim/',
                type: 'POST',
                data: $(this).serialize(),
                datatype: 'json',
                success: function (result) {
                    var htmlResult =
                        "This job is claimed by " + result.worker.firstName + " " + result.worker.lastName;
                    $(".claim#" + result.jobId).html(htmlResult);
                },
            }).fail(function(){
                alert("You already have an active job!");    
            });
        });

        $(".delete").submit(function (event) {
            event.preventDefault();
            var jobId = $("> input[name=jobId]", this).val();
            $.ajax({
                type: 'POST',
                url: '/Jobs/Delete/',
                data: { jobId: parseInt(jobId) },
                success: function () {
                    $("#job-panel-" + jobId).remove();
                }
            });
        });
    });
</script>


<!-- Job List-->
<h1>Jobs</h1>
<hr />
<a asp-controller="Jobs" asp-action="Create" class="btn btn-default">Add a new job</a>

<h3>Current</h3>
@foreach (var job in Model)
{
    @if (job.Completed == false)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@job.Title</h3>
            </div>
            <div class="panel-body">
                @job.Description
                <hr />
                <div class="claim" id="@job.JobId">
                    @if(User.Identity.IsAuthenticated)
                    {
                        @if (job.Worker == null)
                        {
                            <form class="job-claim">
                                <input type="hidden" name="jobId" value="@job.JobId" />
                                <input type="submit" class="submit-as-link" value="Claim Job" />
                            </form>

                        }
                        else
                        {
                            <span>This job is claimed by @job.Worker.FirstName @job.Worker.LastName</span>
                        }
                    }
                </div>
            </div>
        </div>
    }
}

<br /><br />

<h3>Past</h3>
@foreach (var job in Model)
{
    @if (job.Completed == true)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@job.Title</h3>
            </div>
            <div class="panel-body">
                @job.Description
                <hr />
                <div class="claim" id="@job.JobId">
                    @if (job.Worker == null)
                    {
                        <form class="job-claim">
                            <input type="hidden" name="jobId" value="@job.JobId" />
                            <input type="submit" class="submit-as-link" value="Claim Job" />
                        </form>

                    }
                    else
                    {
                        <p>Completed by @job.Worker.FirstName @job.Worker.LastName</p>
                    }
                </div>
                <form class="delete">
                    <input type="hidden" name="id" value="@job.JobId" />
                    <input type="submit" class="submit-as-link" value="Delete" />
                </form>
            </div>
        </div>
    }
}



